@import url('./main-layout.css');
[theme~="dark"] {
    --lumo-base-color: hsl(214, 11%, 15%);
    --lumo-primary-color: hsl(214, 87%, 51%);
    --lumo-primary-color-50pct: hsla(0, 0%, 0%, 0.5);
    --lumo-primary-color-10pct: hsla(214, 69%, 49%, 0.1);
    --lumo-primary-text-color: hsl(214, 100%, 100%);
    --lumo-body-text-color: hsl(214, 0%, 76%);
    --lumo-font-family: 'JetBrains Mono', monospace;
}